body {
    font-family: "Figtree", sans-serif;
    font-size: 16px;
    margin: 0;
    position: relative;
    z-index: 0;
}

.tap-overlay {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    transition: opacity 300ms ease;
}
.tap-overlay.hidden {
    opacity: 0;
    pointer-events: none;
}
.tap-overlay__container {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #757575;
    text-align: center;
    letter-spacing: 0.04em;
}
.tap-overlay__container img {
    max-width: 75px;
    margin-bottom: 15px;
}

.promo-caption {

}
.promo-caption.blurred {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.promo-caption__container {
    padding: 0 32px;
}

.promo-caption__container h1 {
    /* margin: 0;
    padding-top: 64px; */

    font-size: 48px;
    color: #3d3d3d;
}

.promo-text {
    position: relative;
    display: inline-block;

    /* CSS variables controlled by JS */
    --hl-x: 0px;
    --hl-y: 0px;
    --hl-w: 0px;
}

.promo-text::after {
    content: "";
    position: absolute;

    left: var(--hl-x);
    top: var(--hl-y);
    width: var(--hl-w);
    height: 0.55em;

    background: rgba(212, 11, 11, 0.45);
    border-radius: 2px;

    transition:
      left 320ms cubic-bezier(.25,.8,.25,1),
      width 320ms cubic-bezier(.25,.8,.25,1),
      top 320ms cubic-bezier(.25,.8,.25,1);

    z-index: 0;
}

.promo-text span {
    position: relative;
    z-index: 1;
}
